<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.uark.uarkregisterapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="ProductListing"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProductViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="ProductView">
        </activity>
        <activity
            android:name=".ProductsListingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Landing">
        </activity>
        <activity
            android:name=".NewUserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="NewUser">
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Dashboard">
        </activity>

    </application>

</manifest>